<div class="nav-admin">
    <div class="container">
        <ul>
            <a href="/"><li>Shaker</li></a>
            <a href="/admin/dashboard"><li>Dashboard</li></a>
        </ul>
    </div>
</div>
<div class="container section-light">
    <h1>Admin Dashboard</h1>
    <div class="crud-container">
        <a href="/admin/categories">Categories</a>
        <a href="/admin/ingredients">Ingredients</a>
        <a href="/admin/recipes">Recipes</a>
    </div>
</div>