@model shaker.Models.Category
<div class="nav-admin">
    <div class="container">
        <ul>
            <a href="/"><li>Shaker</li></a>
            <a href="/admin/dashboard"><li>Dashboard</li></a>
        </ul>
    </div>
</div>
<div class="container section-light">
    <h1>Categories</h1>
    <div class="admin-table">
        <table class="table-striped">
            <thead>
                <col width="10%">
                <col width="30%">
                <col width="30%">
                <col width="30%">
                <th>Id</th>
                <th>Name</th>
                <th>Created Date</th>
                <th>Action</th>
            </thead>
            @foreach(var c in ViewBag.categories) {
                <tr>
                    <td>@c.id</td>
                    <td>@c.category</td>
                    <td>@c.created_at.ToString("d")</td>
                    <td>
                        <a href="/admin/category/edit/@c.id"><button class="button">Edit</button></a>
                        <a href="/admin/category/remove/@c.id"><button class="button">Remove</button></a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <form asp-action="createCategory" asp-controller="Home" method="post">
        <h3>Add a category</h3>
        <p>
            Name: <br>
            <input type="text"  autocomplete="off" asp-for="category">
        </p>
        <input class="button" type="submit" value="Create">
        
    </form>
</div>